@CHARSET "ISO-8859-1";

/** core styles **/
* {
	padding: 0px;
	margin: 0px;
	font-family: "lucida sans", Arial, sans-serif;
}

form {
	font-size: 10.5pt;
}

.ui-button-text {
	font-size: 10pt;
}

input[type="text"], input[type="password"], select, textarea {
	border: 1px solid #a3a3a3;
	background: none;
}

input[readonly="readonly"] {
	background: #c0c0c0;
}

.tiny {
	font-size: 8pt;
	font-style: italic;
}

a.tiny {
	color: #93191b;
	text-decoration: none;
}

a.tiny:hover {
	text-decoration: underline;
	cursor: pointer;
}

.subheading {
	color: #003399;
	font-weight: bold;
}

.ui-icon {
	float: left;
	margin-right: 1px;
}

p.ui-state-error {
	padding: 3px;
}

p.ui-state-highlight {
	padding: 3px;
	margin: auto;
	font-size: 10.5pt;
	width: 70%;
}

#header {
	height: 12%;
	width: 100%;
	font-weight: bold;
	background-color: #93191b;
}

#header td:last-child {
	vertical-align: bottom;
}

#logo {
	margin-left: 25px;
	height: 65px;
}

.title {
	font-size: 30pt;
	width: 50%;
	color: #d5c79b;
	text-align: center;
	font-family: Arial, sans-serif;
}

#content {
	border-bottom: 2px solid #93191b;
	border-top: 2px solid #93191b;
	background-color: #f9f9f9;
	height: 85%;
	width: 100%;
	position: fixed;
}

#menu {
	/*	width: 75%;*/
	/*	margin: 3px auto;*/
	height: 97%;
	overflow: auto;
}

#footer {
	position: fixed;
	bottom: 0%;
	background-color: #93191b;
	width: 100%;
	height: 6%;
}

#copyright {
	text-align: center;
	font-size: 9pt;
	font-style: italic;
	color: #d5c79b;
}

form hr {
	color: #93191b;
}

#leftDiv {
	width: 30%;
	float: left;
	padding: 10px;
	display: block;
	height: 460px;
}

#rightDiv {
	width: 66%;
	padding: 10px;
	float: right;
	overflow: auto;
	display: block;
	height: 460px;
}

#leftDiv > h3 {
	padding: 5px;
	text-align: center;
}

/** styles for home page **/
#home h3 {
	color: #657A7A;
}

#home h5 {
	color: #914055;
}

div#firstDiv {
	width: 40%;
	font-size: 14pt;
	padding: 0px 7px;
	float: left;
}

div#secondDiv {
	width: 40%;
	padding: 0px 4px;
	border: 1px dashed #93191b;
	float: right;
}

#venndiag {
	height: 250px;
	width: 500px;
}

/** styles for sign in page **/
#loginbox {
	position: absolute;
	right: 5%;
	width: 220px;
	height: 180px;
	border: 1px solid #93191b;
	z-index: 2;
	padding: 10px;
}

/** styles for faq page **/
#faq h3 {
	color: #668b18;
}
